.HeaderAppContainer {
    position: relative;
}

.HeaderIcon {
    margin: auto 20px;
}

.HeaderLogo {
    position: absolute;
    right: 10px;
    height: 50px;
}

.AppTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1
}

.DarkmodeToggle {
    /*margin-right: 10px;*/
    margin: auto;
}

.HeaderDivider {
    color: #f44336;
    background: #f44336;
    border-color: #f44336;
    height: 5px;
    width: 95%;
}