.AppBox {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    flex: 1;
    opacity: 95%;
}

.AppContent {
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    min-height: 100%;
    width: 100%;
    flex: 1;
}

/* visited link */
a:visited {
    color: steelblue;
}